* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 10%;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
/* ||Uttality,accessibility || */
.profile {
  padding: 20px;
}
.user-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
}



.user-info {
  display: flex;
  flex-direction: column;
}
.user-header .nowrap {
  font-weight: 200;
  white-space: nowrap;
  color: black;
}
/* ||Daniel Clifford || profile2|| */
.quote{
    position:absolute;
    top:0;
    right:80px;
      opacity:.4;
}
#profile1 {
  position: relative;
}

#profile1 h4 {
  color: aliceblue;
  flex-wrap: wrap;
  margin-bottom: 15px;
  font-style: bold;
  font-size: 20px;
}


#profile1 blockquote {
  color: rgb(240, 248, 255);
  margin-top: 15px;
  font-style: oblique;
  font-size: 18px;
  padding: 10px;
   line-height: 18px;
}
/* ||Jonathan Walters|| profile2|| */
#profile2 h4 {
  color: aliceblue;
  margin-bottom: 15px;
  font-size: 25px;
  flex-wrap: wrap;
  font-style: bold;
}
#profile2 blockquote {
  color: rgb(240, 248, 255);
  padding: 15px;
  font-size: 1.2rem;
  font-style: italic;
}

/* ||Jeanette Harmon ||profile3|| */
#profile3 h4 {
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  margin-bottom: 15px;
  font-size: xx-large;
}
#profile3 blockquote {
  color: rgb(0, 4, 7);
  margin-top: 15px;

  padding: 10px;
  font-style: italic;
  font-size: 18px;
   line-height: 25px;
}

/* ||Patrick Abrams ||profile4|| */

#profile4 h4 {
  color: aliceblue;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  flex-wrap: wrap;
}
#profile4 blockquote {
  color:white;
  margin-top: 15px;
  padding: 20px;
  font-style: normal;
 line-height: 20px;
  
}
/* ||Kira Whittle||profile5|| */
#profile5 h4 {
  color: rgb(0, 0, 0);
  font-weight: 100;
  margin-bottom: 15px;
  font-size: 35px;
}
#profile5 blockquote {
  color:rgb(3, 0, 0);
  margin-top: 15px;
  padding: 20px;
  font-style: oblique;
  font-size: 18px;
  line-height: 25px;
  
  
}



/* ||here profile style || */
.user-header figure img {
  background-color: rgba(201, 196, 196, 0.418);
  border: 2px double rgb(180, 183, 87);
  border-radius: 50%;
  padding: 1px;

  width: 70px;
  height: auto;
}
.container {
  padding: 50px;
  display: grid;
  height: fit-content;
  width: fit-content;
  /* min-height: 300px; */
  grid-template-areas:
    "profile1    profile1   profile2   profile5 "
    "profile3   profile4    profile4   profile5";
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap:2rem;
  /* grid-auto-rows: minmax(200px auto); */
}

.profile:nth-child(1) {
  grid-area: profile1;
  background: hsl(263.1, 55.1%, 52%);
  border-radius: 1rem;
  padding: 20px;
}


.profile:nth-child(2) {
  grid-area: profile2;
  background: hsl(217.1, 19.1%, 34.9%);
  border-radius: 1rem;
  padding: 20px;
}
.profile:nth-child(3) {
  grid-area: profile3;
  background: whitesmoke;
  border-radius: 1rem;
}
.profile:nth-child(4) {
  grid-area: profile4;
  background: hsl(217.1, 19.1%, 34.9%);
  border-radius: 1rem;
  padding: 20px;
}
.profile:nth-child(5) {
  grid-area: profile5;
  background: whitesmoke;
  border-radius: 1rem;
  padding: 20px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10 auto;
}
